body {
    margin: 0;
    height: 100vh;
    overflow: scroll;
    padding: 4px;
    background-color: rgb(184, 193, 139);
}

#modal {
    display: none;
}

#modal textarea {
    width: 100vw;
    height: 100vh;
}